<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Signup</title>
</head>
<body>
  <h1>Admin Signup</h1>

  <form action="/users/admin-signup" method="post">
    <label for="adminPasscode">Secret Passcode:</label>
    <input type="password" id="adminPasscode" name="adminPasscode" required><br>
    <button type="submit">Submit</button>
  </form>

  <a href="/">Home</a>
</body>
</html>
