<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>hello world!</h1>

  <% if (locals.user) { %>
    <h1>Welcome, <%= user.first_name %>!</h1>
    <form action="/users/logout" method="post">
      <button>Log Out</button>
    </form>
  <% } else { %>
    <h1>Welcome, Guest!</h1>
  <% } %>

  <a href="/users/sign-up">Sign Up</a>
  <a href="/users/login">Login</a>
</body>
</html>
