<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Message</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>New Message</h1>

  <form action="/messages/new" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" required><br>
    <% if (errors && errors.find(e => e.param === 'title')) { %>
      <p><%= errors.find(e => e.param === 'title').msg %></p>
    <% } %>

    <label for="text">Message:</label>
    <textarea id="text" name="text" required><%= text %></textarea><br>
    <% if (errors && errors.find(e => e.param === 'text')) { %>
      <p><%= errors.find(e => e.param === 'text').msg %></p>
    <% } %>

    <button type="submit">Create Message</button>
  </form>

  <a href="/">Home</a>
</body>
</html>
